/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.wrapper{
  height: 650px;
  padding: 20px;
  overflow: hidden;
}
.top{
  flex:1
}

.bot{
  height: 100%;
  overflow-x:scroll;
  padding: 20px;
}

.botWrapper{
  flex:2;
  overflow-x: scroll;
  height: 100%;
}

